@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("fonts.css");

.container {
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 108px;
  padding-right: 108px;
}

h1,h2,h3,h4,h5,h6 {
  line-height: normal;
}