.bg__modal {
  background: rgba(95, 72, 66, 0.50);
}

.modal__active {

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #43190D; 
    opacity: 0.5;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent; 
  }
  &::-webkit-scrollbar-thumb:hover {
    opacity: 0.7; 
  }
}

.modal__grid {
  grid-template-columns: repeat(3, 1fr);
}

.modal__list {
  
  transition: all 0.5s ease;

  // &:hover {
  //   // background: ;
  // }
}